body {
  background-image: url("./4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
}

.logo img {
  width: 10%;
  height: auto;
  margin-right: 20px;
}

.logo h1 {
  font-size: 2em;
  margin: 0;
}

nav {
  background-color: #f2f2f2;
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
  margin: 10px;
}

nav a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  display: inline-block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: white;
  background-color: #333;
}

section {
  padding: 50px;
  color: white;
  text-align: center;
}

section h2 {
  font-size: 3em;
  margin-bottom: 50px;
}

section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section li {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1 1 32%;
  padding: 5px;
}

#packages {
  opacity: 0.7;
  background-color: #f2f2f2;
  color: #333;
  padding: 20px;
  text-align: center;
}

#packages ul {
  display: flex;
  justify-content: center;
  font: 1em sans-serif;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

#packages li {
  font-size: 1.5em;
  margin: 10px;
  text-align: center;
}

section#why {
  opacity: 0.7;
  background-color: #ecebeb;
  color: black;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#why ul {
  display: flex;
  flex-direction: column;
}

#why li {
  font-size: 1.5em;
}

#why h3 {
  font-size: 2em;
}

.fa:hover {
  opacity: 0.7;
}

.fa {
  padding: 40px;
  font-size: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  transition: opacity 0.3s ease;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: rgb(220, 7, 46);
  color: white;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

footer p {
  font-size: 1.5em;
  margin: 0;
}

.pure {
  text-align: right;
  color: white;
}

/* Add responsive styles for mobile devices */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  
  .logo img {
    width: 30%;
    margin-right: 0;
  }
  
  nav {
    padding: 0;
  }
  
  nav ul {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  nav li {
    margin: 10px 0;
  }
}
